#about{
  background-image:url("myBackground.jpg");
}
#python{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
body{
  background-color:#a9f1df;
  
}
table{
  width:800px;
}
td{
  width: 200ps; 
  text-align:center;
}
